@model IEnumerable<Finansowy_Menadżer_Budżetu.Models.Transactions>

@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Index";
    var _userManager = ViewData["UserManager"] as UserManager<IdentityUser>;
}

<h1>Transakcje</h1>

<p>
    <a asp-action="Create">Dodaj Transakcje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePatch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @if (!string.IsNullOrEmpty(item.FilePatch))
                    {
                        <a href="@Url.Action("Index", "Download", new { nazwaPliku = item.FilePatch })">Pobierz plik</a>
                    }
                    else
                    {
                        <p>Brak pliku do pobrania</p>
                    }


            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
        }
        

    </tbody>
</table>
